# Database
POSTGRES_USER=quizverse
POSTGRES_PASSWORD=quizverse
POSTGRES_DB=quizverse
POSTGRES_PORT=5432

# Backend
DATABASE_URL=postgresql://quizverse:quizverse@localhost:5432/quizverse?schema=public
BACKEND_PORT=3000

# Frontend
FRONTEND_PORT=4200
